/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-5-23, 19:20:42
    Author     : luke2
*/

.banner{
    width: 100%;
    height: 130px;
    vertical-align: bottom;
    background-image: url("../res/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.tag-normal{
    font-size:15px;
    border:none;
    color: #999;
    background-color: transparent;
}

.tag-normal:hover {
    color: #000;
}


.tag-active{
    /*box-shadow: 0px 0px 8px #aaa;*/
    color: black;
    border-radius: 5px 5px 0px 0px;
    padding: 3px 15px 4px 15px;
    /*margin-bottom: -1px;*/
    background: white;
    margin-bottom: -1px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
}

.page{
    /*box-shadow: 0px 1px 8px #aaa;*/
    border:1px solid #ddd;
    background: white;
    border-radius: 3px;
    padding: 5px;
}

.tag-main-active {
    color: #999;
    border: 1px solid ivory;
    border-radius: 5px 5px 0px 0px;
    padding: 3px 15px 3px 15px;
    background: ivory;
}

.tag-main-normal:hover{
    color:#000;
}

.tag-main-normal{
    color:ivory;
    border:none;
    background: transparent;
    padding: 3px 15px 3px 15px;
}

body {
    text-align: center;
    background: ivory;
}
#main-page-container{
    width:100%;
    min-height:100px;
    /*background: #31b0d5;*/
    /*border: 1px solid black;*/
}
#foot-note{
    width:100%;
    min-height:80px;
    text-align: right;
    /*background: #31b0d5;*/
    /*border: 1px solid black;*/

}
#banner{
    width: 100%;
    min-height:20px;
    text-align: center;
    vertical-align:middle;
    /*background: #31b0d5;*/
    /*border: 1px solid #ddd;*/
}
#page-wrap {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.sm-box{
    width:100px;
    height:25px;
}
.frame-tag-card{
    /*float: right;*/
    /*box-shadow: 0px 0px 8px #aaa;*/
    background: white;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    border-radius: 3px;
    /*margin-left:8px;*/
    text-align: left;
    padding: 6px;
}

.frame-tag-card-tag{
    width: 85px;
    padding-left: 5px;
    color:#aaa;
}

.article-summary{
    column-width: 726px;
    -webkit-filter: grayscale(0.5);
    color:#999;
    font-size:15px;
    max-height: 150px;
    text-overflow: ellipsis;
    display:block;
    overflow:hidden;
    width:726px;
    text-align: left;   
    padding-top: 8px;
}

.article-all-content{
    padding-top: 8px;
    color:#000;
    font-size:15px;
    /*max-height: 300px;*/
    /*text-overflow: ellipsis;*/
    display:block;
    /*overflow:hidden;*/
    width:726px;
    text-align: left;   
}


.msg-content{
    max-width: 193px;
    word-wrap: break-word;
    font-size:14px;
    max-height: 200px;
    text-overflow: ellipsis;
    display:block;
    overflow:hidden;
    width:100%;
    text-align: left;
}

.uma-float-setting-box{
    display:none;
    background: white;
    z-index:3;
    position:absolute;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 2px 5px #999;
}

